
          <article class="chapter narrow">
            <header class="headline">
              {{- partial "content-header.html" . }}
            </header>
{{ partial "heading-pre.html" . }}<div class="article-subheading">{{ T "Chapter" .Params.Weight }}</div>
{{ partial "heading.html" . }}{{ partial "heading-post.html" . }}

{{ partial "article-content.html" . }}
            <footer class="footline">
              {{- partial "content-footer.html" . }}
            </footer>
          </article>