          <div class="default-animation progress">
            <div class="toc-wrapper">
{{- if eq .Kind "taxonomy" }}
<nav id="TableOfContents">
  <ul>
  {{- $lastCapital := "" }}
  {{- range .Data.Terms.Alphabetical }}
    {{- $capital := substr .Page.Title 0 1 | upper }}
    {{- if ne $lastCapital $capital }}
    <li><a href="#{{ $capital | anchorize }}">{{ $capital }}</a></li>
    {{- end }}
    {{- $lastCapital = $capital }}
  {{- end }}
  </ul>
</nav>
{{- else }}
  {{- partial "shortcodes/piratify.html" (dict
    "page" .
    "pagefield" "TableOfContents"
  ) }}
{{- end }}
            </div>
          </div>