{{- $page := .page }}
  <article class="card"{{if .title}}aria-labelledby="id1234"{{end}}>
      {{- with .image }}
    <div class="card-image">
      <img src="{{ . | relURL }}">
    </div>
      {{- end }}
      {{- if or .title .content }}
    <div class="card-content">
        {{- with .title }}
      <div class="card-title" id="id1234">
          {{ . | $page.RenderString}}
      </div>
        {{- end }}
        {{- with .content }}
      <div class="card-content-text">
{{ . | safeHTML }}
      </div>
        {{- end }}
    </div>
      {{- end }}
  </article>