{{- $page := .page }}
  {{- $renderedtitle := .title | $page.RenderString}}
  {{- $renderedcontent := .content | $page.RenderString}}
  {{- $itemid := printf "R-card-%s" (printf "%s%s" $renderedtitle $renderedcontent | plainify | md5) }}
  <article class="card"{{if .title}} aria-labelledby="{{ $itemid }}"{{end}}>
      {{- with .image }}
    <div class="card-image">
      <img src="{{ . | relURL }}">
    </div>
      {{- end }}
      {{- if or .title .content }}
    <div class="card-content">
        {{- with .title }}
      <div class="card-title" id="{{ $itemid }}">
          {{ $renderedtitle | safeHTML }}
      </div>
        {{- end }}
        {{- with .content }}
      <div class="card-content-text">
          {{ $renderedcontent | safeHTML }}
      </div>
        {{- end }}
    </div>
      {{- end }}
  </article>