{{- $alerttype := .AlertType }}
{{- if eq $alerttype "details"}}
  {{- $alerttype = "transparent" }}
{{- end }}
{{- $alerttitle := "" }}
{{- $alertsign := "" }}
{{- if $alerttype }}
  {{- $alerttitle = .AlertTitle }}
  {{- $alertsign = .AlertSign }}
{{- end }}
{{- $text := .Text }}
{{- if $alerttype }}
  {{- partial "shortcodes/notice.html" (dict
    "page" .Page
    "content"  $text
    "color"    .Attributes.color
    "expanded" (cond (eq $alertsign "+") true (cond (eq $alertsign "-") false ""))
    "groupid"  .Attributes.groupid
    "icon"     .Attributes.icon
    "style"    $alerttype
    "title"    $alerttitle
  ) }}
{{ else -}}
<blockquote>
{{ $text | safeHTML }}</blockquote>
{{ end }}