{{- $allthemevariants := (partialCached "_relearn/themeVariants.gotmpl" site.Home).variants }}
{{- $themevariants := slice }}
{{- range $allthemevariants }}
  {{- if not .hidden }}
    {{- $themevariants = $themevariants | append . }}
  {{- end }}
{{- end }}
{{- $showvariantswitch := gt (int (len $themevariants)) 1 }}
{{- if $showvariantswitch }}
  {{- $icon := .element.icon | default "paint-brush" }}
  {{- if and $icon (not (findRE ".*?\\bfa-\\w.*?" $icon)) }}
    {{- $icon = printf "fa-fw fas fa-%s" $icon }}
  {{- end }}
            <li class="R-variantswitcher">
              <div class="padding menu-control">
                <i class="{{ $icon }}" aria-hidden="true"></i>
                <span>&nbsp;</span>
                <div class="control-style">
                  <select aria-label="{{ T "Theme" }}">
                    {{- $firstvariant := true }}
                    {{- range $themevariants }}
                      {{- $themevariant := . }}
                    <option value="{{ $themevariant.identifier }}"{{- if $firstvariant }} selected{{ end }}>{{ $themevariant.name }}</option>
                      {{- $firstvariant = false }}
                    {{- end }}
                  </select>
                </div>
                <div class="clear"></div>
              </div>
            </li>
{{- end }}