{{- $onwidths := cond (isset . "onwidths") .onwidths "show" }}
{{- $onwidthm := cond (isset . "onwidthm") .onwidthm "show" }}
{{- $onwidthl := cond (isset . "onwidthl") .onwidthl "show" }}
{{- with .page }}
	{{- $showPrevNext := (and (not .Params.disableNextPrev) (not .Site.Params.disableNextPrev)) }}
	{{- if $showPrevNext }}
		{{- $endarrow := "🡒" }}
		{{- if eq (.Language.LanguageDirection | default (T "Reading-direction") | default "ltr") "rtl" }}
			{{- $endarrow = "🡐" }}
		{{- end }}
        {{- $next := partialCached "_relearn/pageNext.gotmpl" . .Path }}
		{{- $nextTitle := partial "title.gotmpl" (dict "page" $next "outputFormat" "html") }}
		{{- partial "topbar/func/button.html" (dict
			"page" .
			"class" "topbar-button-next"
			"href" (partial "permalink.gotmpl" (dict "to" $next))
			"icon" "chevron-right"
			"onwidths" $onwidths
			"onwidthm" $onwidthm
			"onwidthl" $onwidthl
			"hint" (printf "%s (%s)" $nextTitle ($endarrow | safeHTML))
		)}}
	{{- end }}
{{- end }}