{{- $onwidths := cond (isset . "onwidths") .onwidths "area-more" }}
{{- $onwidthm := cond (isset . "onwidthm") .onwidthm "show" }}
{{- $onwidthl := cond (isset . "onwidthl") .onwidthl "show" }}
{{- with .page }}
	{{- $printFormat := .OutputFormats.Get "print" }}
	{{- $show := $printFormat }}
	{{- if $show }}
		{{- $show = not (partial "_relearn/pageIsSpecial.gotmpl" .) }}
	{{- end }}
	{{- if $show }}
		{{- partial "topbar/func/button.html" (dict
			"page" .
			"class" "topbar-button-print"
			"href" $printFormat.RelPermalink
			"icon" "print"
			"onwidths" $onwidths
			"onwidthm" $onwidthm
			"onwidthl" $onwidthl
			"hint" (printf "%s (CTRL+ALT+p)" (T "Print-this-chapter"))
		)}}
	{{- end }}
{{- end }}