{{- $onwidths := cond (isset . "onwidths") .onwidths "hide" }}
{{- $onwidthm := cond (isset . "onwidthm") .onwidthm "show" }}
{{- $onwidthl := cond (isset . "onwidthl") .onwidthl "show" }}
{{- with .page }}
	{{- $content := partial "dependencies.html" (dict "page" . "location" "topbar") }}
	{{- if trim (string $content) "\n\r\t " }}
            <div class="topbar-button topbar-button-search default-animation" data-width-s="{{ $onwidths }}" data-width-m="{{ $onwidthm }}" data-width-l="{{ $onwidthl }}">
		{{- $content }}
            </div>
	{{- end }}
{{- end }}