{{- $onwidths := cond (isset . "onwidths") .onwidths "show" }}
{{- $onwidthm := cond (isset . "onwidthm") .onwidthm "show" }}
{{- $onwidthl := cond (isset . "onwidthl") .onwidthl "show" }}
{{- with .page }}
	{{- $content := partial "dependencies.html" (dict "page" . "location" "topbar") }}
	{{- if trim (string $content) "\n\r\t " }}
		{{- /* the search box is shown directly in the topbar if the variant
			places it there; only in mobile layout it collapses into this button,
			opening it in an overlay */}}
		{{- partial "topbar/func/button.html" (dict
			"page" .
			"class" "topbar-button-search"
			"action" "toggle-flyout"
			"icon" "search"
			"onwidths" $onwidths
			"onwidthm" $onwidthm
			"onwidthl" $onwidthl
			"hint" (printf "%s (CTRL+ALT+f)" (T "Search"))
			"content" ($content | safeHTML)
		)}}
	{{- end }}
{{- end }}