{{- $defaultelementconfigs := slice }}

{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "editbutton") }}
{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "sourcebutton") }}
{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "markdownbutton") }}
{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "printbutton") }}
{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "prevbutton") }}
{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "nextbutton") }}
{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "morebutton") }}

{{- return $defaultelementconfigs }}