{{- $defaultbuttonconfigs := slice }}

{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "sidebar") }}
{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "toc") }}

{{- return $defaultbuttonconfigs }}