{{- $defaultbuttonconfigs := slice }}

{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "search") }}
{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "edit") }}
{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "source") }}
{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "markdown") }}
{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "print") }}
{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "prev") }}
{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "next") }}
{{- $defaultbuttonconfigs = $defaultbuttonconfigs | append (dict "type" "more") }}

{{- return $defaultbuttonconfigs }}