{{- $defaultelementconfigs := slice }}

{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "sidebarbutton") }}
{{- $defaultelementconfigs = $defaultelementconfigs | append (dict "type" "tocbutton") }}

{{- return $defaultelementconfigs }}