{{- range $k, $v := site.Params.relearn.dependencies }}
	{{- $needs := printf "needs%s" .name }}
	{{- $disable := printf "disable%s" .name }}
	{{- $enable := printf "%s" (lower .name) }}

	{{- $dep := printf "dependencies/%s.html" $k }}
	{{- partial $dep (dict "page" $ "location" "default") }}
	{{- $default := $.Store.Get $needs | default false }}

	{{- $wantsPage := "" }}
	{{- $filepath := "[virtual file]" }}{{ with and $.File $.File.Filename }}{{ $filepath = . }}{{ end }}
	{{- if index $.Params $disable }}
		{{- $wantsPage = false }}
		{{- warnf "%q: DEPRECATED front matter 'disable%s=true' found, use '%s=false' or '%s.disable=true' instead; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/8/#8-0-0" $filepath .name (lower .name) (lower .name) }}
	{{- else if ne (index $.Params $disable) nil }}
		{{- $wantsPage = true }}
		{{- if $default }}
			{{- warnf "%q: DEPRECATED front matter 'disable%s=false' found, remove it or use '%s.disable=false' instead; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/8/#8-0-0" $filepath .name (lower .name) }}
		{{- else }}
			{{- warnf "%q: DEPRECATED front matter 'disable%s=false' found, use '%s.force=true' instead; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/7/#7-0-0" $filepath .name (lower .name) }}
		{{- end }}
	{{- else if and (eq .name "Math") (ne (index $.Params "disableMathJax") nil) }}
		{{- $wantsPage = true }}
		{{- warnf "%q: DEPRECATED front matter 'disableMathJax' found, use 'math' or 'math.force' instead and invert the value; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/7/#7-0-0" $filepath }}
	{{- end }}
	{{- $valuePage := index $.Params $enable }}
	{{- if eq (printf "%T" $valuePage) "bool" }}
		{{- if and (eq .name "Math") (not $valuePage) }}
			{{- warnf "%q: WARNING front matter 'math=false' found, remove it or use 'math.disable=true' instead if you really meant to turn it off; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/8/#8-0-0" $filepath }}
		{{- end }}
		{{- $wantsPage = $valuePage }}
	{{- else if reflect.IsMap $valuePage }}
		{{- if eq (index $valuePage "disable") true }}
			{{- $wantsPage = false }}
		{{- else if eq (index $valuePage "force") true }}
			{{- $wantsPage = true }}
		{{- end }}
	{{- end }}

	{{- $wantsSite := "" }}
	{{- if index site.Params $disable }}
		{{- $wantsSite = false }}
		{{- warnf "DEPRECATED option 'disable%s=true' found, use '%s=false' or '%s.disable=true' instead; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/8/#8-0-0" .name (lower .name) (lower .name) }}
	{{- else if ne (index site.Params $disable) nil }}
		{{- $wantsSite = true }}
		{{- if $default }}
			{{- warnf "DEPRECATED option 'disable%s=false' found, remove it or use '%s.disable=false' instead; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/8/#8-0-0" .name (lower .name) }}
		{{- else }}
			{{- warnf "DEPRECATED option 'disable%s=false' found, use '%s.force=true' instead; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/7/#7-0-0" .name (lower .name) (lower .name) }}
		{{- end }}
	{{- else if and (eq .name "Math") (ne (index site.Params "disableMathJax") nil) }}
		{{- $wantsSite = true }}
		{{- warnf "DEPRECATED option 'disableMathJax' found, use 'math' or 'math.force' instead and invert the value; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/7/#7-0-0" }}
	{{- end }}
	{{- $valueSite := index site.Params $enable }}
	{{- if eq (printf "%T" $valueSite) "bool" }}
		{{- if and (eq .name "Math") (not $valueSite) }}
			{{- warnf "WARNING option 'math=false' found, remove it or use 'math.disable=true' instead if you really meant to turn it off; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/8/#8-0-0" }}
		{{- end }}
		{{- $wantsSite = $valueSite }}
	{{- else if reflect.IsMap $valueSite }}
		{{- if eq (index $valueSite "disable") true }}
			{{- $wantsSite = false }}
		{{- else if eq (index $valueSite "force") true }}
			{{- $wantsSite = true }}
		{{- end }}
	{{- end }}

	{{- if ne $wantsPage "" }}
		{{- $.Store.Set $needs $wantsPage }}
	{{- else if ne $wantsSite "" }}
		{{- $.Store.Set $needs $wantsSite }}
	{{- end }}
{{- end }}