/* my-custom-variant */
:root {
  --BOX-BLUE-color: #5c94ce; /* background color of blue boxes */
  --BOX-GREEN-color: #62c08d; /* background color of green boxes */
  --BOX-GREY-color: #cacacb; /* background color of grey boxes */
  --BOX-ORANGE-color: #f1a640; /* background color of orange boxes */
  --CODE-BLOCK-BG-color: #354a5f; /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: #cacacb; /* border color of block code */
  --CODE-BLOCK-color: white; /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-INLINE-BG-color: #354a5f; /* background color of inline code */
  --CODE-INLINE-BORDER-color: #cacacb; /* border color of inline code */
  --CODE-INLINE-color: white; /* text color of inline code */
  --MAIN-LINK-color: #5c94ce; /* link color of content */
  --MAIN-LINK-HOVER-color: #354a5f; /* hoverd link color of content */
  --MAIN-TITLES-TEXT-color: #5c94ce; /* text color of h2-h6 titles and transparent box titles */
  --MENU-HEADER-BG-color: #354a5f; /* background color of menu header */
  --MENU-HOME-LINK-color: white; /* home button color if configured */
  --MENU-HOME-LINK-HOVER-color: black; /* hoverd home button color if configured */
  --MENU-SEARCH-BG-color: #354a5f; /* background color of search box */
  --MENU-SEARCH-BORDER-color: white; /* border color of search box */
  --MENU-SEARCH-color: white; /* text and icon color of search box */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #354a5f; /* background color of the displayed menu topic */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #f1a640; /* text color of the displayed menu topic */
  --MENU-SECTIONS-BG-color: #354a5f; /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-LINK-color: white; /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: #f1a640; /* hoverd link color of menu topics */
}
