/* here in this showcase we use our own modified chroma syntax highlightning style;
   if you want to use a predefined style instead:
   - remove `markup.highlight.noClasses` from your config.toml
   - set `markup.highlight.style` to a predefined style name in your config.toml
   - remove the following `@import` of the self-defined chroma stylesheet */
@import "chroma-neon.css";

:root {
    --MAIN-TEXT-color: #e0e0e0; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #ffffff; /* Color of titles h2-h3-h4-h5-h6 */

    /* optional overwrites for specific headers */
    --MAIN-TITLES-H2-color: #f300b2; /* Color of h2 headlines */
    --MAIN-TITLES-H3-color: #00f3d3; /* Color of h3 headlines */
    --MAIN-TITLES-H4-color: #ffff00; /* Color of h4 headlines */

    --MAIN-LINK-color: #1c90f3; /* Color of links */
    --MAIN-LINK-HOVER-color: #4cabff; /* Color of hovered links */
    --MAIN-ANCHOR-color: #1c90f3; /* color of anchors on titles */
    --MAIN-BG-color: #202020; /* color for code background */

    /* adjusted to neon chroma style */
    --CODE-BLOCK-color: #f8f8f2; /* fallback color for block code text */
    --CODE-BLOCK-BG-color: #000000; /* fallback color for block code background */
    --CODE-BLOCK-BORDER-color: #000000; /* color of block code border */

    --CODE-INLINE-color: #82e550; /* color for inline code text */
    --CODE-INLINE-BG-color: #282a36; /* color for inline code background */
    --CODE-INLINE-BORDER-color: #464646; /* color of inline code border */

    --TAG-BG-color: #04d1b5; /* Background color of menu header */

    --MENU-HOME-LINK-color: #323232; /* Color of the home button text */
    --MENU-HOME-LINK-HOVER-color: #5e5e5e; /* Color of the hovered home button text */

    --MENU-HEADER-BG-color: unset; /* Background color of menu header */
    --MENU-HEADER-BORDER-color: transparent; /*Color of menu header border */

    --MENU-SEARCH-color: #e0e0e0; /* Color of search field text */
    --MENU-SEARCH-BG-color: #323232; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #e0e0e0; /* Override search field border color */

    --MENU-SECTIONS-ACTIVE-BG-color: rgba( 0, 0, 0, .166 ); /* Background color of the active section and its children */
    --MENU-SECTIONS-BG-color: linear-gradient( 165deg, #f300b2d3 0%, #1c90f3b3 65%, #00e3d3b3 100% ); /* Background color of side bar */
    --MENU-SECTIONS-LINK-color: #ffffff; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #d0d0d0;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #56ffe8; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #202020; /* Color of background for the active category (only) */

    --MENU-VISITED-color: #33a1ff; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #bababa; /* Color of <hr> separator in menu */

    /* base styling for boxes */
    --BOX-CAPTION-color: rgba( 240, 240, 240, 1 ); /* color of the title text */
    --BOX-BG-color: rgba( 20, 20, 20, 1 ); /* color of the content background */
    --BOX-TEXT-color: initial; /* automatic color of the content text */

    /* optional base colors for colored boxes as in attachments and notice shortcode */
    --BOX-BLUE-color: rgba( 48, 117, 229, 1 );
    --BOX-GREEN-color: rgba( 42, 178, 24, 1 );
    --BOX-GREY-color: rgba( 128, 128, 128, 1 );
    --BOX-ORANGE-color: rgba( 237, 153, 9, 1 );
    --BOX-RED-color: rgba( 224, 62, 62, 1 );
}
