/* lc-light */
:root {
  --BOX-BLUE-color: #5c94ce; /* background color of blue boxes */
  --BOX-GREEN-color: #62c08d; /* background color of green boxes */
  --BOX-ORANGE-color: #f47753; /* background color of orange boxes */
  --CODE-BLOCK-BORDER-color: #d8d8d8; /* border color of block code */
  --CODE-BLOCK-color: #354a5f; /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-INLINE-BORDER-color: #f8e8c8; /* border color of inline code */
  --MAIN-ANCHOR-color: #5c94ce; /* anchor color of titles */
  --MAIN-LINK-color: #5c94ce; /* link color of content */
  --MAIN-LINK-HOVER-color: #354a5f; /* hoverd link color of content */
  --MAIN-TITLES-TEXT-color: #354a5f; /* text color of h2-h6 titles and transparent box titles */
  --MENU-HEADER-BG-color: #5c94ce; /* background color of menu header */
  --MENU-SEARCH-BG-color: white; /* background color of search box */
  --MENU-SEARCH-BORDER-color: #e0e0e0; /* border color of search box */
  --MENU-SEARCH-color: black; /* text and icon color of search box */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #cacacb; /* background color of the displayed menu topic */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #f47753; /* text color of the displayed menu topic */
  --MENU-SECTIONS-LINK-HOVER-color: #f47753; /* hoverd link color of menu topics */
  --MENU-VISITED-color: #5c94ce; /* icon color of visited menu topics if configured */
}
