body {
  line-height: 1.574;
  font-variation-settings: var(--INTERNAL-MAIN-font-variation-settings);
  font-weight: var(--INTERNAL-MAIN-font-weight);
  font-family: var(--INTERNAL-MAIN-font);
  letter-spacing: var(--INTERNAL-MAIN-letter-spacing);
  margin: 0;
  overflow: hidden;
}
body,
.swagger-ui .info *,
#relearn-swagger-ui .renderedMarkdown *,
#relearn-swagger-ui p {
  font-size: 1.015625rem;
}
html.relearn .swagger-ui .scheme-container {
  background-color: var(--INTERNAL-MAIN-BG-color);
  padding-left: 1rem;
  padding-right: 1rem;
}
.swagger-ui .wrapper {
  padding-left: 0;
  padding-right: 0;
}
html.relearn h2 {
  color: var(--INTERNAL-MAIN-TITLES-H2-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H2-font-variation-settings);
  font-weight: var(--INTERNAL-MAIN-TITLES-H2-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H2-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H2-letter-spacing);
}
html.relearn svg {
  fill: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .info h2.title {
  color: var(--INTERNAL-MAIN-TITLES-H2-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H2-font-variation-settings);
  font-weight: var(--INTERNAL-MAIN-TITLES-H2-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H2-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H2-letter-spacing);
}
.relearn-expander {
  display: block;
  float: right;
  margin: 0.5rem;
}
#relearn-swagger-ui {
  clear: both;
}

/* Styles extracted from swagger-dark.css generated by Dark Reader */

html.relearn {
  background-color: var(--INTERNAL-MAIN-BG-color) !important;
  color-scheme: var(--INTERNAL-BROWSER-theme) !important;
}
html.relearn,
html.relearn body,
html.relearn .swagger-ui {
  --VARIABLE-LINK-color: var(--INTERNAL-MAIN-LINK-color);
  --VARIABLE-LINK-HOVER-color: var(--INTERNAL-MAIN-LINK-HOVER-color);
  background-color: var(--INTERNAL-MAIN-BG-color);
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn a {
  color: var(--VARIABLE-LINK-color);
}
html.relearn input:-webkit-autofill,
html.relearn textarea:-webkit-autofill,
html.relearn select:-webkit-autofill {
  color: var(--INTERNAL-MAIN-TEXT-color) !important;
}
html.relearn ::-webkit-scrollbar-corner {
  background-color: var(--INTERNAL-MAIN-BG-color);
}
html.relearn ::selection {
  color: var(--INTERNAL-MAIN-TEXT-color) !important;
}
html.relearn ::-moz-selection {
  color: var(--INTERNAL-MAIN-TEXT-color) !important;
}
*:not(pre, pre *, code, .far, .fa, .glyphicon, [class*='vjs-'], .fab, .fa-github, .fas, .material-icons, .icofont, .typcn, mu, [class*='mu-'], .glyphicon, .icon) {
  font-variation-settings: var(--INTERNAL-MAIN-font-variation-settings);
  font-family: var(--INTERNAL-MAIN-font) !important;
  letter-spacing: var(--INTERNAL-MAIN-letter-spacing) !important;
  line-height: 1.574 !important;
}
html.relearn .swagger-ui {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .nested-links a {
  color: var(--VARIABLE-LINK-color);
}
html.relearn .swagger-ui .nested-links a:focus,
html.relearn .swagger-ui .nested-links a:hover {
  color: var(--VARIABLE-LINK-HOVER-color);
}
html.relearn .swagger-ui .opblock-tag {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .opblock-tag small {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .parameter__type {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .opblock .opblock-section-header > label {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .opblock .opblock-section-header h4 {
  color: var(--INTERNAL-MAIN-TITLES-H4-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H4-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H4-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H4-letter-spacing);
}
html.relearn .swagger-ui .opblock .opblock-summary-operation-id,
html.relearn .swagger-ui .opblock .opblock-summary-path,
html.relearn .swagger-ui .opblock .opblock-summary-path__deprecated {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .opblock .opblock-summary-description {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .opblock.opblock-post {
  border-color: var(--INTERNAL-BOX-GREEN-color);
}
html.relearn .swagger-ui .opblock.opblock-post .opblock-summary-method {
  background-color: var(--INTERNAL-BOX-GREEN-color);
}
html.relearn .swagger-ui .opblock.opblock-post .opblock-summary {
  border-color: var(--INTERNAL-BOX-GREEN-color);
}
html.relearn .swagger-ui .opblock.opblock-post .tab-header .tab-item.active h4 span::after {
  background-color: var(--INTERNAL-BOX-GREEN-color);
}
html.relearn .swagger-ui .opblock.opblock-put {
  border-color: var(--INTERNAL-BOX-ORANGE-color);
}
html.relearn .swagger-ui .opblock.opblock-put .opblock-summary-method {
  background-color: var(--INTERNAL-BOX-ORANGE-color);
}
html.relearn .swagger-ui .opblock.opblock-put .opblock-summary {
  border-color: var(--INTERNAL-BOX-ORANGE-color);
}
html.relearn .swagger-ui .opblock.opblock-put .tab-header .tab-item.active h4 span::after {
  background-color: var(--INTERNAL-BOX-ORANGE-color);
}
html.relearn .swagger-ui .opblock.opblock-delete {
  border-color: var(--INTERNAL-BOX-RED-color);
}
html.relearn .swagger-ui .opblock.opblock-delete .opblock-summary-method {
  background-color: var(--INTERNAL-BOX-RED-color);
}
html.relearn .swagger-ui .opblock.opblock-delete .opblock-summary {
  border-color: var(--INTERNAL-BOX-RED-color);
}
html.relearn .swagger-ui .opblock.opblock-delete .tab-header .tab-item.active h4 span::after {
  background-color: var(--INTERNAL-BOX-RED-color);
}
html.relearn .swagger-ui .opblock.opblock-get {
  border-color: var(--INTERNAL-BOX-BLUE-color);
}
html.relearn .swagger-ui .opblock.opblock-get .opblock-summary-method {
  background-color: var(--INTERNAL-BOX-BLUE-color);
}
html.relearn .swagger-ui .opblock.opblock-get .opblock-summary {
  border-color: var(--INTERNAL-BOX-BLUE-color);
}
html.relearn .swagger-ui .opblock.opblock-get .tab-header .tab-item.active h4 span::after {
  background-color: var(--INTERNAL-BOX-BLUE-color);
}
html.relearn .swagger-ui .opblock.opblock-patch {
  border-color: var(--INTERNAL-BOX-CYAN-color);
}
html.relearn .swagger-ui .opblock.opblock-patch .opblock-summary-method {
  background-color: var(--INTERNAL-BOX-CYAN-color);
}
html.relearn .swagger-ui .opblock.opblock-patch .opblock-summary {
  border-color: var(--INTERNAL-BOX-CYAN-color);
}
html.relearn .swagger-ui .opblock.opblock-patch .tab-header .tab-item.active h4 span::after {
  background-color: var(--INTERNAL-BOX-CYAN-color);
}
html.relearn .swagger-ui .opblock.opblock-head {
  border-color: var(--INTERNAL-BOX-GREY-color);
}
html.relearn .swagger-ui .opblock.opblock-head .opblock-summary-method {
  background-color: var(--INTERNAL-BOX-GREY-color);
}
html.relearn .swagger-ui .opblock.opblock-head .opblock-summary {
  border-color: var(--INTERNAL-BOX-GREY-color);
}
html.relearn .swagger-ui .opblock.opblock-head .tab-header .tab-item.active h4 span::after {
  background-color: var(--INTERNAL-BOX-GREY-color);
}
html.relearn .swagger-ui .opblock.opblock-options {
  border-color: var(--INTERNAL-BOX-MAGENTA-color);
}
html.relearn .swagger-ui .opblock.opblock-options .opblock-summary-method {
  background-color: var(--INTERNAL-BOX-MAGENTA-color);
}
html.relearn .swagger-ui .opblock.opblock-options .opblock-summary {
  border-color: var(--INTERNAL-BOX-MAGENTA-color);
}
html.relearn .swagger-ui .opblock.opblock-options .tab-header .tab-item.active h4 span::after {
  background-color: var(--INTERNAL-BOX-MAGENTA-color);
}
html.relearn .swagger-ui .tab li {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .opblock-description-wrapper,
html.relearn .swagger-ui .opblock-external-docs-wrapper,
html.relearn .swagger-ui .opblock-title_normal {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .opblock-description-wrapper h4,
html.relearn .swagger-ui .opblock-external-docs-wrapper h4,
html.relearn .swagger-ui .opblock-title_normal h4 {
  color: var(--INTERNAL-MAIN-TITLES-H4-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H4-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H4-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H4-letter-spacing);
}
html.relearn .swagger-ui .opblock-description-wrapper p,
html.relearn .swagger-ui .opblock-external-docs-wrapper p,
html.relearn .swagger-ui .opblock-title_normal p {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .responses-inner h4 {
  color: var(--INTERNAL-MAIN-TITLES-H4-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H4-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H4-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H4-letter-spacing);
}
html.relearn .swagger-ui .responses-inner h5 {
  color: var(--INTERNAL-MAIN-TITLES-H5-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H5-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H5-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H5-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H5-letter-spacing);
}
html.relearn .swagger-ui .response-col_status {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .response-col_links {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .opblock-body pre.microlight {
  background-color: var(--INTERNAL-MAIN-BG-color);
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .scheme-container .schemes > label {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .loading-container .loading::after {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui section h3 {
  color: var(--INTERNAL-MAIN-TITLES-H3-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H3-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H3-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H3-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H3-letter-spacing);
}
html.relearn .swagger-ui .btn {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui select {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui label {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui textarea {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .checkbox p {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .dialog-ux .modal-ux-content p {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .dialog-ux .modal-ux-content h4 {
  color: var(--INTERNAL-MAIN-TITLES-H4-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H4-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H4-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H4-letter-spacing);
}
html.relearn .swagger-ui .dialog-ux .modal-ux-header h3 {
  color: var(--INTERNAL-MAIN-TITLES-H3-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H3-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H3-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H3-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H3-letter-spacing);
}
html.relearn .swagger-ui .model {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui section.models h4 {
  color: var(--INTERNAL-MAIN-TITLES-H4-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H4-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H4-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H4-letter-spacing);
}
html.relearn .swagger-ui section.models h5 {
  color: var(--INTERNAL-MAIN-TITLES-H5-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H5-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H5-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H5-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H5-letter-spacing);
}
html.relearn .swagger-ui .model-title {
  color: var(--INTERNAL-MAIN-TITLES-TEXT-color);
}
html.relearn .swagger-ui .prop-format {
  color: var(--INTERNAL-MAIN-TITLES-TEXT-color);
}
html.relearn .swagger-ui .servers > label {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
.swagger-ui table.headers td {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui table thead tr td,
html.relearn .swagger-ui table thead tr th {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .parameter__name {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .info li,
html.relearn .swagger-ui .info p,
html.relearn .swagger-ui .info table {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .info h1 {
  color: var(--INTERNAL-MAIN-TITLES-H1-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H1-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H1-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H1-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H1-letter-spacing);
  text-align: center;
  text-transform: uppercase;
}
html.relearn .swagger-ui .info h2 {
  color: var(--INTERNAL-MAIN-TITLES-H2-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H2-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H2-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H2-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H2-letter-spacing);
}
html.relearn .swagger-ui .info h3 {
  color: var(--INTERNAL-MAIN-TITLES-H3-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H3-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H3-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H3-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H3-letter-spacing);
}
html.relearn .swagger-ui .info h4 {
  color: var(--INTERNAL-MAIN-TITLES-H4-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H4-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H4-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H4-letter-spacing);
}
html.relearn .swagger-ui .info h5 {
  color: var(--INTERNAL-MAIN-TITLES-H5-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H5-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H5-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H5-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H5-letter-spacing);
}
html.relearn .swagger-ui .info a {
  color: var(--VARIABLE-LINK-color);
}
html.relearn .swagger-ui .info a:hover {
  color: var(--VARIABLE-LINK-HOVER-color);
}
html.relearn .swagger-ui .info .base-url {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .info .title {
  color: var(--INTERNAL-MAIN-TITLES-TEXT-color);
}
html.relearn .swagger-ui .auth-container .errors {
  color: var(--INTERNAL-MAIN-TEXT-color);
}
html.relearn .swagger-ui .scopes h2 {
  color: var(--INTERNAL-MAIN-TITLES-H2-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H2-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H2-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H2-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H2-letter-spacing);
}
html.relearn .swagger-ui .scopes h2 a {
  color: var(--VARIABLE-LINK-color);
}
html.relearn .swagger-ui .errors-wrapper .errors h4 {
  color: var(--INTERNAL-MAIN-TITLES-H4-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H4-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H4-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H4-letter-spacing);
}
html.relearn .swagger-ui .errors-wrapper .errors small {
  color: var(--INTERNAL-MAIN-TITLES-TEXT-color);
}
html.relearn .swagger-ui .errors-wrapper hgroup h4 {
  color: var(--INTERNAL-MAIN-TITLES-H4-TEXT-color);
  font-variation-settings: var(--INTERNAL-MAIN-TITLES-H4-font-variation-settings);
  !font-weight: var(--INTERNAL-MAIN-TITLES-H4-font-weight);
  font-family: var(--INTERNAL-MAIN-TITLES-H4-font);
  letter-spacing: var(--INTERNAL-MAIN-TITLES-H4-letter-spacing);
}

html.relearn .swagger-ui .model-box {
  /* swagger-ui 5.31 bugfix */
  background-color: transparent;
}
