{{- with .page }}
	{{- $showBreadcrumb := (and (not .Params.disableBreadcrumb) (not site.Params.disableBreadcrumb)) }}
	{{- if $showBreadcrumb }}
		{{- $breadcrumb := partial "breadcrumbs.html" (dict "page" . "schema" true) }}
		{{- $breadcrumbTitle := trim ($breadcrumb | replaceRE `(?s)<li[^>]*class="a11y-only"[^>]*>.*?</li>` "" | plainify | htmlUnescape) "\n\r\t " }}
            <nav class="topbar-breadcrumbs breadcrumbs highlightable" aria-label="{{ T "Breadcrumbs" }}"{{ with $breadcrumbTitle }} data-overflow-title="{{ . }}"{{ end }}>
              <ol itemscope itemtype="http://schema.org/BreadcrumbList">
              {{- $breadcrumb }}
              </ol>
            </nav>
	{{- else }}
            <span class="topbar-breadcrumbs highlightable">
              {{ partial "title.gotmpl" (dict "page" . "linkTitle" true) }}
            </span>
	{{- end }}
{{- end }}