{{- $area := .area }}
{{- $icon := .icon }}
{{- $hint := .hint }}
{{- $title := .title }}
{{- $buttons := .buttons | default slice }}
{{- $onempty := cond (isset . "onempty") .onempty "disable" }}
{{- $onwidths := cond (isset . "onwidths") .onwidths "show" }}
{{- $onwidthm := cond (isset . "onwidthm") .onwidthm "show" }}
{{- $onwidthl := cond (isset . "onwidthl") .onwidthl "show" }}
{{- with .page }}
	{{- $content := printf "\n                  <div class=\"topbar-area topbar-area-%s\" data-area=\"%s\">%s\n                  </div>" $area $area (partial "topbar/func/area.html" (dict "page" . "buttons" $buttons)) | safeHTML }}
	{{- partial "topbar/func/button.html" (dict
		"page" .
		"class" (printf "topbar-button-%s" $area)
		"action" "toggle-flyout"
		"icon" $icon
		"onempty" $onempty
		"onwidths" $onwidths
		"onwidthm" $onwidthm
		"onwidthl" $onwidthl
		"title" $title
		"hint" $hint
		"content" $content
	)}}
{{- end }}