{{- warnf "DEPRECATED partial 'assetbusting.gotmpl' used, use 'asset.gotmpl' instead; see https://mcshelby.github.io/hugo-theme-relearn/introduction/releasenotes/9/#9-1-0" }}
{{- $assetsBuster := "" }}
{{- $assetBusting := not site.Params.disableAssetsBusting }}
{{- if $assetBusting }}
	{{- $assetsBuster = printf "?%d" now.Unix }}
{{- end }}
{{- return $assetsBuster }}