{{- $attributes := dict "class" "nolightbox" }}
{{- $title := "" }}
{{- if isset site.Params "linktitle" }}
  {{- $title = site.Params.linkTitle | default " " }}
{{- end }}
{{- if not (len $title) }}
  {{- $title = site.Title }}
{{- end }}
{{- $title = trim $title "\n\r\t " }}

{{- $manualWrap := strings.Contains $title "\n" }}

{{- $direction := site.Params.logo.direction | default "row" }}

{{- /* Build map of variant logos */}}
{{- $logoMap := dict }}
{{- $themevariants := partialCached "_relearn/themeVariants.gotmpl" site.Home }}
{{- range $themevariants }}
  {{- if and (isset . "logo") (not (isset . "auto")) }}
    {{- $logoMap = merge $logoMap (dict .identifier (dict "src" .logo.src "variant" .identifier)) }}
  {{- end }}
{{- end }}

{{- /* Group logos by source */}}
{{- $logoGroups := dict }}
{{- range $variantId, $logoInfo := $logoMap }}
  {{- $src := $logoInfo.src }}
  {{- if $src }}
    {{- $existingVariants := slice }}
    {{- if isset $logoGroups $src }}
      {{- $existingVariants = index $logoGroups $src }}
    {{- end }}
    {{- $existingVariants = $existingVariants | append $variantId }}
    {{- $logoGroups = merge $logoGroups (dict $src $existingVariants) }}
  {{- end }}
{{- end }}

{{- /* Render logo container with all variants */}}
{{- if or $logoGroups $title }}
        <a id="R-logo" class="R-default direction-{{ $direction }}{{ if $manualWrap }} manual-wrap{{ end }}" href="{{ partial "permalink.gotmpl" (dict "to" site.Home) }}">
  {{- range $logoSrc, $variants := $logoGroups }}
    {{- $variantList := delimit $variants " " }}
          <span class="logo-image default-animation" data-r-logo-variant="{{ $variantList }}">
{{ partial "shortcodes/image.html" (dict "page" site.Home "url" $logoSrc "attributes" $attributes) }}
          </span>
  {{- end }}
  {{- with $title }}
          <span class="logo-title default-animation">{{ . }}</span>
  {{- end }}
        </a>
{{- end }}