        <div class="searchbox default-animation">
          <label for="search-by"><i class="fas fa-search"></i></label>
          <input data-search-input id="search-by" type="search" placeholder="{{ T "Search-placeholder" }}">
          <span data-search-clear=""><i class="fas fa-times"></i></span>
        </div>
        {{- $assetBusting := not .Site.Params.disableAssetsBusting }}
        {{- $pageBaseLang := replaceRE "([a-z]+).*" "${1}" .Page.Lang }}
        <script>
          var pageBaseLang="{{ $pageBaseLang }}";
        </script>
        <script src="{{"js/auto-complete.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/lunr.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{"js/lunr.stemmer.support.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{ (printf "js/lunr.%s.min.js" $pageBaseLang) | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>
        <script src="{{ "js/search.js" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}"></script>