{{- $page := .page }}
{{- $taxonomy := .taxonomy }}
{{- $class := .class }}
{{- $color := .color | default "" }}
{{- $style := .style | default "" }}
{{- if and (not $style) (eq (len $style) 0) }}
  {{- $color = .color | default "var(--INTERNAL-TAG-BG-color)" }}
{{- end }}
{{- $boxStyle := partial "_relearn/boxStyle.gotmpl" (dict "style" $style "title" "" "icon" .icon) }}
{{- if and (not $boxStyle.style) (not $color) }}
  {{- $color = $style }}
  {{- $style = "" }}
{{- end }}
{{- $icon := trim ($boxStyle.icon) " " }}
{{- if and $icon (not (findRE ".*?\\bfa-\\w.*?" $icon)) }}
  {{- $icon = printf "fa-fw fas fa-%s" $icon }}
{{- end }}
{{- $taxonomy_page := $page.Site.GetPage $taxonomy }}
{{- $term_pages := slice }}
{{- range $page.GetTerms $taxonomy }}
  {{- $term_pages = $term_pages | append (dict "Title" (partial "title.gotmpl" (dict "page" . "linkTitle" true)) "Term" . )}}
{{- end }}
{{- $taxonomy_title := partial "title.gotmpl" (dict "page" $taxonomy_page) }}
{{- with $term_pages }}
<div class="R-taxonomy taxonomy-{{ $taxonomy }} cstyle{{ with $style }} {{ . }}{{ end }}{{ with $class }} {{ . }}{{ end }}" title="{{ $taxonomy_title }}"{{ with $color }}{{ printf " style=\"--VARIABLE-TAGS-BG-color: %s;\"" . | safeHTMLAttr }}{{ end }}>
  {{- if $icon }}
  <i class="{{ $icon }}"></i>
  {{- end }}
  <ul>
  {{- range sort . ".Title" }}
    {{- $to := .Term }}
    <li><a class="term-link" href="{{ partial "permalink.gotmpl" (dict "to" $to) }}">{{ .Title }}</a></li>
  {{- end }}
  </ul>
</div>
{{- end }}