{{- /* the topbar of a page; its areas are filled by the topbar options */}}
      <header id="R-topbar" class="default-animation">
        <div class="topbar-wrapper default-animation">
          <div class="topbar-sidebar-divider default-animation"></div>
          <div class="topbar-area topbar-area-start" data-area="start">
            {{- partial "topbar/area.html" (dict "page" . "area" "start") }}
          </div>
          <div class="topbar-area topbar-area-middle" data-area="middle">
            {{- partial "topbar/area.html" (dict "page" . "area" "middle") }}
          </div>
          <div class="topbar-area topbar-area-end" data-area="end">
            {{- partial "topbar/area.html" (dict "page" . "area" "end") }}
          </div>
        </div>
      </header>