{{- partial "header.html" . }}
<span id="sidebar-toggle-span">
<a href="#" id="sidebar-toggle" data-sidebar-toggle=""><i class="fas fa-bars"></i> navigation</a>
</span>

{{if .Site.Home.Content }}
{{.Site.Home.Content}}
{{else}}
    <h1>Customize your own home page</h1>
    <p>
        The site is working. Don't forget to customize this page with your own. You typically have 3 choices :
    </p>
    <ul>
        <li><b>1. </b> Create an _index.md document in <b>content</b> folder and fill it with Markdown content</li>
        <li><b>2. </b> Create an <b>index.html</b> file in the <b>static</b> folder and fill the file with HTML content</li>
        <li><b>3. </b> Configure your server to automatically redirect home page to one your documentation page</li>
    </ul>
{{ end }}
{{- partial "footer.html" . }}