{{- $context := .context }}
{{- $content := .content }}
{{- $href := .href }}
{{- $style := .style | default "transparent" }}
{{- $title := .title | default ($content) | default ($style | T) }}
{{- $icon := .icon | default "" }}
{{- if and (not $icon) (eq (len $icon) 0) }}
  {{- if eq $style "info" }}{{ $icon = default "info-circle" }}{{ end }}
  {{- if eq $style "warning" }}{{ $icon = default "exclamation-triangle" }}{{ end }}
  {{- if eq $style "note" }}{{ $icon = default "exclamation-circle" }}{{ end }}
  {{- if eq $style "tip" }}{{ $icon = default "lightbulb" }}{{ end }}
{{- end }}
{{- $icon = trim $icon " " }}
{{- if and $icon (not (findRE ".*?\\bfa-\\w.*?" $icon)) }}
  {{- $icon = printf "fa-fw fas fa-%s" $icon }}
{{- end }}
{{- $iconposition := .iconposition | default "left" }}
{{- with $context }}
<span class="btn cstyle {{ $style }}">
  <a{{ if $href }} href="{{ $href }}" target="_blank"{{ end }}>
    {{- if and $icon (eq $iconposition "left") }}
    <i class="{{ $icon }}"></i>
    {{- end }}
    {{ $title }}
    {{- if and $icon (eq $iconposition "right") }}
    <i class="{{ $icon }}"></i>
    {{- end }}
  </a>
</span>
{{- end }}