{{- $page := .page }}
{{- $color := .color }}
{{- $style := .style }}
{{- $template := .template }}
{{- $cards := slice }}
{{- range $card := (.content | default slice) }}
  {{- with $card }}
    {{- $image := .image }}
    {{- $color := .color | default $color | default "" }}
    {{- $content := trim .content "\n\r\t " }}
    {{- $hasContent := ne (strings.TrimPrefix "<p>" $content) "" }}
    {{- if not (hasPrefix $content "<") }}
      {{- $content = printf "<p>\n%s" $content }}
    {{- end }}
    {{- $style := .style | default $style | default (cond (ne $color "") "filled" "initial") }}
    {{- $boxStyle := partial "_relearn/boxStyle.gotmpl" (dict "style" $style "title" .title "icon" .icon) }}
    {{- if and (not $boxStyle.style) (not $color) }}
      {{- $color = $style }}
      {{- $style = "" }}
    {{- end }}
    {{- $title := trim ($boxStyle.title) " " }}
    {{- $icon := trim ($boxStyle.icon) " " }}
    {{- if and $icon (not (findRE ".*?\\bfa-\\w.*?" $icon)) }}
      {{- $icon = printf "fa-fw fas fa-%s" $icon }}
    {{- end }}
    {{- $template := .template | default $template | default "default" }}
    {{- $params := .params }}
    {{- if eq (printf "%T" $params) "string" }}
      {{- $params = unmarshal $params }}
    {{- end }}
    {{- if or $image $title $hasContent $params }}
      {{- $cards = $cards | append (dict
        "color"    $color
        "content"  (cond $hasContent $content "")
        "icon"     $icon
        "image"    $image
        "params"   $params
        "style"    $style
        "template" $template
        "title"    $title
      ) }}
    {{- end }}
  {{- end }}
{{- end }}
{{- with $page }}
  {{- if len $cards -}}
<div class="card-container">
    {{- range $cards }}
      {{- $template = printf "cards/%s.html" .template }}
      {{- partial $template (dict
          "page"    $page
          "color"   .color
          "content" .content
          "icon"    .icon
          "image"   .image
          "params"  .params
          "style"   .style
          "title"   .title
      ) }}
    {{- end }}
</div>
  {{- end }}
{{- end }}