{{- $context := .context }}
{{- $file := .file }}
{{- $hideFirstHeading := .hidefirstheading | default false }}
{{- if eq (printf "%T" $hideFirstHeading) "string" }}
	{{- $hideFirstHeading = (eq $hideFirstHeading "true") }}
{{- end }}
{{- if and (gt (len (trim $file " ")) 0) (fileExists $file) }}
	{{- if $hideFirstHeading }}<div class="include hide-first-heading">{{ end }}
	{{- with $context }}

{{ $file | readFile | safeHTML }}

	{{- end }}
	{{- if $hideFirstHeading }}</div>{{ end }}
{{- end }}