{{- $taxonomy := .taxonomy }}
{{- $raw := .raw | default false }}
{{- if eq "string" (printf "%T" $taxonomy) }}
  {{- $taxonomy = .page.GetPage $taxonomy }}
{{- end }}
{{- with $taxonomy }}
  {{- $breadcrumb := .Params.children.breadcrumb }}
  {{- $cardtemplate := .Params.children.cardtemplate }}
  {{- $description := .Params.children.description }}
  {{- $headingdepth := $.headingdepth | default .Params.children.headingdepth }}
  {{- $image := .Params.children.image }}
  {{- $type := .Params.children.type | default "group" }}
  {{- $sort := .Params.children.sort }}

  {{- .Content }}
  {{- $pages := partialCached "_relearn/pagesTaxonomy.gotmpl" . .Path }}
  {{- $output := partial "shortcodes/children.html" (dict
    "page"         .
    "pages"        $pages
    "breadcrumb"   $breadcrumb
    "cardtemplate" $cardtemplate
    "description"  $description
    "headingdepth" $headingdepth
    "image"        $image
    "showhidden"   true
    "sort"         $sort
    "type"         $type
  ) }}
  {{- if $raw  }}
    {{- $output }}
  {{- else if eq $type "card" }}
    {{- $output | safeHTML }}
  {{- else }}
    {{- $output | .RenderString }}
  {{- end }}
{{- end }}