{{- $term := .term }}
{{- $raw := .raw | default false }}
{{- if eq "string" (printf "%T" $term) }}
  {{- $term = .page.GetPage $term }}
{{- end }}
{{- with $term }}
  {{- $breadcrumb := (ne .Page.Site.Params.disableTermBreadcrumbs true) }}
  {{- if and (isset .Params "children") (isset .Params.children "breadcrumb") }}
    {{- $breadcrumb = .Params.children.breadcrumb }}
  {{- end }}
  {{- $cardtemplate := .Params.children.cardtemplate }}
  {{- $description := .Params.children.description }}
  {{- $headingdepth := $.headingdepth | default .Params.children.headingdepth }}
  {{- $image := .Params.children.image }}
  {{- $type := .Params.children.type | default "group" }}
  {{- $sort := .Params.children.sort }}

  {{- .Content }}
  {{- $pages := partialCached "_relearn/pagesTerm.gotmpl" . .Path }}
  {{- $output := partial "shortcodes/children.html" (dict
    "page"         .
    "pages"        $pages
    "breadcrumb"   $breadcrumb
    "cardtemplate" $cardtemplate
    "description"  $description
    "headingdepth" $headingdepth
    "image"        $image
    "showhidden"   true
    "sort"         $sort
    "type"         $type
  ) }}
  {{- if $raw  }}
    {{- $output }}
  {{- else if eq $type "card" }}
    {{- $output | safeHTML }}
  {{- else }}
    {{- $output | .RenderString }}
  {{- end }}
{{- end }}