{{- partial "shortcodes/pages.html" (dict
  "page"         .Page
  "axis"         (.Get "axis")
  "breadcrumb"   (.Get "breadcrumb")
  "cardtemplate" (.Get "cardtemplate")
  "columns"      (.Get "columns")
  "description"  (.Get "description")
  "display"      (.Get "display")
  "flatten"      (.Get "flatten")
  "groupby"      (.Get "groupby")
  "grouplabel"   (.Get "grouplabel")
  "grouporder"   (.Get "grouporder")
  "headinglevel" (.Get "headinglevel")
  "hidden"       (.Get "hidden")
  "image"        (.Get "image")
  "kind"         (.Get "kind")
  "levels"       (.Get "levels")
  "limit"        (.Get "limit")
  "orderby"      (.Get "orderby")
  "pageref"      (.Get "pageref")
  "params"       (.Get "params")
  "where"        (.Get "where")
) }}