{{- .Store.Set "relearnIsNested" true }}
{{- partialCached "inline/article-walker" . .Path | safeHTML }}

{{- define "partials/inline/article-walker" }}
  {{- $html := "" }}
  {{- $pages := slice }}
  {{- if eq .Kind "taxonomy" }}
    {{- /* a taxonomy comes with its terms, in the order of its list, which is
      by the title a term is shown with; a term with its own content file may
      lack one */}}
    {{- $entries := slice }}
    {{- range .Pages }}
      {{- $entries = $entries | append (dict "title" (lower (partial "title.gotmpl" (dict "page" . "linkTitle" true))) "page" .) }}
    {{- end }}
    {{- range sort $entries "title" }}
      {{- $pages = $pages | append .page }}
    {{- end }}
  {{- else if ne .Kind "term" }}
    {{- /* a term lists its pages but doesn't come with their content */}}
    {{- $pages = partialCached "_relearn/pages.gotmpl" (dict "page" .) .Path }}
  {{- end }}
  {{- range $pages }}
    {{- if not (partialCached "_relearn/pageIsHidden.gotmpl" . .Path) }}
      {{- $html = printf "%s%s" $html (partialCached "inline/article-walker" . .Path) }}
      {{- $child := . }}
      {{- range .Site.Params.relearn.dependencies }}
        {{- $has := printf "has%s" .name }}
        {{- $hasnested := printf "relearnHasNested%s" .name }}
        {{- $.Store.Set $hasnested (or ($.Store.Get $hasnested) ($child.Store.Get $hasnested) ($child.Store.Get $has)) }}
      {{- end }}
    {{- end }}
  {{- end }}

  {{- $article := "" }}
  {{- if eq .Kind "taxonomy" }}
    {{- $article = partial "bodys/taxonomy.html" . }}
  {{- else if eq .Kind "term" }}
    {{- $article = partial "bodys/term.html" . }}
  {{- else if .Title }}
	  {{- $article = .Render "article" }}
  {{- end }}
  {{- if len $html }}
    {{- $title := partial "title.gotmpl" (dict "page" . "linkTitle" true) }}
    {{- $html = printf `%s
          <section>
            <h1 class="a11y-only">%s</h1>%s
          </section>` $article (T "Subsections" $title | htmlEscape) $html }}
  {{- else }}
    {{- $html = $article }}
  {{- end }}
  {{- return $html }}
{{- end }}